# --- gradle ---
.gradle/
build/
*.jar
*.aar

# --- local config ---
local.properties

# --- os files ---
*.log
.DS_Store
Thumbs.db
*~

# --- editor temp files ---
*.swp
*.swo
*.swn
*.bak
*.orig
*.tmp

# --- android studio ---
captures/
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json
*.hprof
lint*

# --- intellij / android studio ---
*.iml
.idea/

# --- keystore ---
*.jks
*.keystore

# --- google services ---
google-services.json

# --- android profiling ---
*.hprofdata
data


